rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /wallets/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /orders/{docId} {
      allow read: if request.auth != null && resource.data.uid == request.auth.uid;
      allow write: if false;
    }
    match /admins/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
